<mat-card >
  <mat-card-header>
    <mat-card-title>Gastos</mat-card-title>
  </mat-card-header>
<form class="example-container" #gastosForm="ngForm">
  <mat-card-content >
      <mat-form-field>
        <input matInput placeholder="Nombre" name="name" #name="ngModel" [(ngModel)]="data.name" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Monto" name="money" #money="ngModel" [(ngModel)]="data.money" required>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Tipo de Categoria" name="category" #category="ngModel" [(ngModel)]="data.category" required>
          <mat-option [value]="t.id" *ngFor="let t of categories$ | async">{{t.name}}</mat-option>
        </mat-select>
      </mat-form-field>
  </mat-card-content>
  </form>
  <mat-card-actions>
      <button mat-raised-button color="primary" (click)="save()" [disabled]="!gastosForm.valid">Guardar</button>
  </mat-card-actions>
</mat-card>
